[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
odoo-rpc-client = "*"
requests = "*"
requests-oauthlib = "*"
more-itertools = "*"
tqdm = "*"
cexprtk = "*"
tenacity = "*"

[dev-packages]
pytest = "*"
jinja2 = "*"

[requires]
python_version = "3.10"
